<div class="containerdiv">
    <div class="maindiv">
        <br>
        <input type="text" class="form-control" style="width: 200px; display: inline-block;" placeholder="search"
    [(ngModel)]="search"> <br><br>
      <div class="tbldiv">
        <table class="tbl">
            <thead>
                <tr>
                    <th class="tblhead">
                        <input class="checkbox" (change)="selectAll($event)" type="checkbox" [checked]="allChecked">
                    </th>
                    <th *ngFor="let col of columnData" class="tblhead" (click)="sort()"><span class="thdata"><span> {{col}} </span> &nbsp;<i style="line-height: 12vh;" class="fa fa-sort"></i></span></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of data | search:search">
                    <td><input class="checkbox" type="checkbox" (change)="selectcount($event)"  [checked]="checked"></td>
                    <td *ngFor="let d of row | dynamicData"> {{d}} </td>
                </tr>
            </tbody>
        </table>
      </div>
      <br>
        <ngb-pagination [collectionSize]="collectionSize"
         [(page)]="page" 
         [pageSize]="pageSize"
          (pageChange)="refreshData()">
        </ngb-pagination>
        <span>{{selectedMsg}}</span>
    </div>
</div>
